body {
    background-image: url('https://files.fm/thumb_show.php?i=qysjfex497');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}
